
body {
	background-image: url("../images/background.png");
	width: 960px;
	background-repeat: none;
	margin: 0 auto;
}

li {
    display: inline-block;
    color: #777777;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
    float: left;
}
.clearfix::after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#top {
	width: 960px;
	height: 64px;
	border-bottom-color: #cccccc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-color: #ffffff;
	padding: 0px;
	margin: 0 auto;
	position: absolute;
}
	
#myname {
	background: #4aaaa5;	
	color: #ffffff;
	width: 175px;
    padding: 18.25px 18.5px 18px 18.5px;
    position: relative;
    left: 90px;
    top: -19.75px;

}
#navigation {
	background-color: #ffffff;
	color: #777777;
	position: relative;
	left: 591px;
	bottom: 90px;
}
#nav1 {
	background-color: #ffffff;


}
#nav2 {
	background-color: #ffffff;
	borde;r-left: 1px solid #cccccc;
	
#main {
	background-color: #ffffff;
    color: #777777;
    width: 650px;
    height: 479px;
    padding: 40px;
    
}
#mainarea{
	position: relative;
    bottom: 90px;
    
}
#section-header {
	background-color: #ffffff;
	color: #4aaaa5;
	float: left;
}
#profile {
	background-color: #ffffff;
	color: #444444;
	float: left;
}
#sidebar {
	background-color: #ffffff;
	color: #4aaaa5;
	float: left;
}
#connect {
	background-color: #ffffff;
	color: #4aaaa5;
	float: right;
}
#icon {
	background-color: #ffffff;
	color: #4aaaa5;
}
footer {
	background-color: #666666;
	color: #ffffff;
}