body {
	background-image: url("../images/background.png");
	background-repeat: none;
	margin: 0 auto;

	} 
/*To get rid of the bullets.*/
#top #navigation #main  {
	background-color: #ffffff;
}



#navigation #

#name footer 

section p image {
	float: left;
}

header {
	background-color: #4aaaa5;
	/*position: absolute;*/
	margin-left: 100px;
	float: left;
	padding: 10px 40px 10px 40px;
}
#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #777777;
    float: left;
}


li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}


aside {
	float: left;
	width:270px;
	padding: 10px;
}

}
aside ul { 
	list-style:none; 
	margin-top: 40px; 
	
}
aside ul li { 
	display:inline; 
	padding:0 10px; 
}

}
footer {
	text-align: center;
	position: fixed;
	width: 960px;
	bottom: 0;
	background-color: #666666;
}
